# ==========================================================
# Project Configuration
# ==========================================================
PROJECT_NAME=Credit Card Fraud Detection MLOps
ENVIRONMENT=development
DEBUG=True

# ==========================================================
# API Configuration
# ==========================================================
HOST=0.0.0.0
PORT=8000

# ==========================================================
# Dataset
# ==========================================================
DATA_PATH=data/raw/creditcard.csv
PROCESSED_DATA_PATH=data/processed

# ==========================================================
# Model
# ==========================================================
MODEL_NAME=credit_card_fraud_model
MODEL_VERSION=1
MODEL_PATH=models/

# ==========================================================
# MLflow Configuration
# ==========================================================
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=Credit Card Fraud Detection
MLFLOW_ARTIFACT_LOCATION=mlruns/

# ==========================================================
# Training Configuration
# ==========================================================
TEST_SIZE=0.2
RANDOM_STATE=42

# ==========================================================
# Logging
# ==========================================================
LOG_LEVEL=INFO

# ==========================================================
# Cloud Deployment (Fill only if deploying)
# ==========================================================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# ==========================================================
# Docker
# ==========================================================
DOCKER_IMAGE_NAME=credit-card-fraud-mlops
DOCKER_CONTAINER_NAME=fraud-api